div ~ p{
    background: red;
}

h1{
    text-align: center;
    background: teal;
    color:#fff;
    font-size:100px;
}

/* z index using position */
.box{
    width: 350px;
    height: 300px;
    border:2px solid #000;
    margin: 10px auto;
    position: relative;
    background: #ddd;
}
.red-box{
    width: 150px;
    height: 150px;
    background: red;
    border-radius:50%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
   
}
.green-box{
    width: 150px;
    height: 150px;
    background: green;
    border-radius:50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.yellow-box{
    width: 150px;
    height: 150px;
    background: yellow;
    border-radius:50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    
}
/*responsive design */
@media screen and (min-width: 450px) and (max-width:768px){
    h1{
        font-size:40px;
        background: #000;
    }
    p{
        font-size:20px;
    }
}

/* gradient  and shadow*/


.gradient-box{
    width: 300px;
    height: 300px;
    background: radial-gradient(red, blue);
    box-shadow: 10px 10px 5px black;
    margin: 0 auto;
   
}

/* transform  */
.box-2{
    width: 300px;
    height: 300px;
    background: url("gearup.png") no-repeat center / cover;
    box-shadow: 10px 10px 10px #ddd;
    margin: 40px auto;
    transition: all 1s;
    cursor: pointer;
   
}
.box-2:hover{
    transform:rotate(180deg) scale(.5) skew(10deg);
    border-radius:10px;
}

.box-3 {
    width: 300px;
    height: 300px;
    background: url("gearup.png") no-repeat center / cover;
    margin: 50px auto;
    border:2px solid black;
    
}
.box-3 input{
    box-sizing: border-box;
    width: 300px;
    background: #ddd;
    padding: 15px;
}
.box-4 {
    width: 500px;
    height: 500px;
    background: teal;
    position: relative;
}
.animation-box{
    position: absolute;
    width: 150px;
    height: 150px;
    background: rgb(223, 156, 14);
    animation-name:shakel;
    animation-duration:5s;
    animation-iteration-count:infinite;
}

@keyframes shakel {
    0%{
        top: 0;
        left: 0;
        background: #000;
        
    }30%{
        top: 0;
        left: 350px;
        background: red;
        border-radius:50%;
    }50%{
        top: 350px;
        left: 350px;
        background: lime;
        
    }75%{
        top: 350px;
        left: 0;
        background: blueviolet;
        border-radius:50%;
    }100%{
        top: 0;
        left: 0;
        background: orangered;
    }
}
.socials-icon ul li{
    width: 64px;
    height: 64px;
    border:1px solid #ccc;
    margin: 5px;
    list-style: none;
    background: url('icons.webp') no-repeat;
    display: inline-block;
    cursor: pointer;
    transition:all .5s;
}

.socials-icon ul li:nth-child(1){
    background-position:0 0;
}
.socials-icon ul li:hover:nth-child(1){
    background-position:0 -66px;
}
.socials-icon ul li:nth-child(2){
    background-position:-64px 0px;
}
.socials-icon ul li:hover:nth-child(2){
    background-position:-66px -66px;
}
.socials-icon ul li:nth-child(3){
    background-position:-128px 0px;
}
.socials-icon ul li:hover:nth-child(3){
    background-position:-131px -66px;
}
.socials-icon ul li:nth-child(4){
    background-position:-192px 0px;
}
.socials-icon ul li:hover:nth-child(4){
    background-position:-195px -66px;
}

.grid-box{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 10px;
    background: #000;
}

.box-item{
    background: #ccc;
    height: 100px;
    padding: 10px;
}
.box-item:nth-child(4){
    grid-column-start:1;
    grid-column-end:4;
}
.calculator{
    width: 350px;
    height: 600px;
    background: #ccc;
    margin: 10%;
    position: relative;
    border-radius:10px;
}
.calculator p{
    text-align: center;
    color:#fff;
    padding-top: 10px;
}
.calhead{
    padding: 15px;
    background: #ddd;
   
}
.calhead input{
    width: 280px;
    height: auto;
    padding: 10px;
   margin-left: 10px;
   font-size:1.7rem;
    
}
.btnarea{
    display: flex;
    flex-wrap: wrap;
    background: #f5f4f4;
    justify-content: center;
    padding: 10px;
}
.calbtn{
    background: #ffffff;
    width: 60px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px; 
    box-shadow: 7px 6px 2px #ccc;
    border-radius:5px;
    cursor: pointer;
}
.calbtn:nth-child(19){
    background: #4b4b4a;
    color:#fff;
    flex-grow:.8;
}
